<div id="todoDetails">
    <h4>{{.Name}}</h4>
    <form hx-post="/task" hx-target="#todoDetails">
        <label>
            <input name="taskName" type="text" required>
            <input name="todoId" type="text" hidden="hidden" value="{{.Id}}">
        </label>
        <label>
            <input name="submit" value="add task" type="submit">
        </label>
    </form>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{range .Tasks}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.CreateAtStr}}</td>
            <td>
                <label>
                    <select name="status" hx-put="/task/{{.Id}}">
                        <option  {{if eq .Status 0}}selected{{end}} value="0">PENDING</option>
                        <option  {{if eq .Status 1}}selected{{end}} value="1">IN PROGRESS</option>
                        <option  {{if eq .Status 2}}selected{{end}} value="2">DONE</option>
                    </select>
                </label>
            </td>
            <td>
                <button
                        hx-delete="/task/{{.Id}}"
                        hx-confirm="Are you sure you wish to delete this task?"
                        hx-target="#todoDetails">Delete
                </button>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>